{% extends 'base.html' %}

{% block content %}
<section class="flex flex-col bg-emerald-950 items-center justify-center p-12 md: max-h-3xl shadow-4xl rounded-lg">
    <ul class="flex flex-col items-center justify-center p-12 md:bg-emerald-950 max-h-3xl shadow-4xl rounded-lg">
    <p class="text-xl text-emerald-300 mb-6"><strong>Komentáře ke tvým receptům:</strong></p>
    {% for comment in comments_recipe %}
        <li class="p-2 border-2 border-emerald-600 rounded-lg m-2 bg-emerald-700">
            <a href="{% url 'mark_comment_recipe_read' comment.id %}">
                {% if comment.new %}
                    <mark><strong>{{ comment.user }} | {{ comment.recipe.title }} | {{ comment.created_at }}</strong></mark>
                {% else %}
                    {{ comment.user }} | {{ comment.recipe.title }} | {{ comment.created_at }}
                {% endif %}
            </a>
        </li>
    {% empty %}
        <p class="text-xl text-emerald-300">Zatím žádné komentáře.</p>
    {% endfor %}
    </ul>
</section>

{% endblock %}