{% extends 'base.html' %}

{% block content %}
<ul>
    {% for comment in comments_recipe %}
        <li>
            <a href="{% url 'mark_comment_recipe_read' comment.id %}">
                {% if comment.new %}
                    <mark><strong>{{ comment.user }} | {{ comment.recipe.title }} | {{ comment.created_at }}</strong></mark>
                {% else %}
                    {{ comment.user }} | {{ comment.recipe.title }} | {{ comment.created_at }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}