{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Nálezy hub</h2>
<div style="display: flex;">
    <div style="width: 70%;">
        <form id="filter-form">
            <label for="mushroom-filter">Filtr podle druhu houby:</label>
            <select id="mushroom-filter" name="mushroom">
                <option value="">Všechny</option>
                {% for mushroom in mushrooms %}
                    <option value="{{ mushroom.id }}">{{ mushroom.name_cz }}</option>
                {% endfor %}
            </select>
        </form>
        {% if user.is_authenticated %}
            <a href="{% url 'add_finding' %}" class="btn btn-primary">Přidej nález</a>
        {% endif %}
        <div id="map"></div>
    </div>
    <div id="details" style="width: 30%; padding-left: 20px;">
        <h3>Detaily nálezu</h3>
        <div id="details-content">
            Klikněte na marker na mapě pro zobrazení detailů.
        </div>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
        // Načtení URL ke statickým souborům
    var edibleIconUrl = "{% static 'jedla.png' %}";
    var shadowIconUrl = "{% static 'stin.png' %}";

    var map = L.map('map').setView([49.5, 15.5], 7); // Nastavení počátečního zobrazení

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
    }).addTo(map);

    var edible = L.icon({
    iconUrl: edibleIconUrl,
    shadowUrl: shadowIconUrl,

    iconSize:     [39, 50], // size of the icon
    shadowSize:   [41, 29], // size of the shadow
    iconAnchor:   [20, 50], // point of the icon which will correspond to marker's location
    shadowAnchor: [0, 29],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });

    var markers = [];

    // Funkce pro zobrazení detailů nálezu
    function showDetails(finding) {
        var detailsContent = `
            <p><strong>Název:</strong> ${finding.mushroom.name_cz}<br>
            <strong>Uživatel:</strong> ${finding.user.username}<br>
            <strong>Popis:</strong> ${finding.description}<br>
            <strong>Datum nálezu:</strong> ${finding.date_found}</p>
        `;
        if (finding.image) {
            detailsContent += `<p><img src="${finding.image}" alt="obrázek nálezu" style="max-width: 100%; height: auto;"></p>`;
        }
        detailsContent += `<h4>Komentáře:</h4>`;
        if (finding.comments.length > 0) {
            finding.comments.forEach(comment => {
                detailsContent += `<p><strong>${comment.user}:</strong> ${comment.text} <br><em>${comment.created_at}</em></p>`;
            });
        } else {
            detailsContent += `<p>Žádné komentáře.</p>`;
        }
        detailsContent += `<a href="/add_comment/${finding.id}/" class="btn btn-primary">Přidat komentář</a>`;
        document.getElementById('details-content').innerHTML = detailsContent;
    }

    // Přidání markerů pro každý nález
    {% for finding in findings %}
    var marker = L.marker([{{ finding.latitude }}, {{ finding.longitude }}], {icon:edible});
    marker.mushroomId = "{{ finding.mushroom.id }}";
    marker.on('click', function() {
        showDetails({
            id: "{{ finding.id }}",
            mushroom: { name_cz: "{{ finding.mushroom.name_cz }}" },
            user: { username: "{{ finding.user.user.username }}" },
            description: "{{ finding.description }}",
            date_found: "{{ finding.date_found }}",
            image: "{% if finding.image %}{{ finding.image.url }}{% endif %}",
            comments: [
                {% for comment in finding.comments.all %}
                {
                    user: "{{ comment.user.user.username }}",
                    text: "{{ comment.text }}",
                    created_at: "{{ comment.created_at }}"
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        });
    });
    markers.push(marker);
    marker.addTo(map);
    {% endfor %}

    // Funkce pro filtrování markerů
    function filterMarkers() {
        var selectedMushroomId = document.getElementById('mushroom-filter').value;
        markers.forEach(marker => {
            if (selectedMushroomId === "" || marker.mushroomId === selectedMushroomId) {
                marker.addTo(map);
            } else {
                map.removeLayer(marker);
            }
        });
    }


    // Přidání event listeneru pro změnu filtru
    document.getElementById('mushroom-filter').addEventListener('change', filterMarkers);
</script>
{% endblock %}

