{% extends 'base.html' %}

{% block content %}
    <section class="flex flex-col-reverse sm:flex-row px-6 items-center gap-8 mb-12 mt-4" >
            <article class="sm:w-1/2">
                <h2 class="max-w-md text-4xl font-bold text-center sm:text-5sl sm:text-left text-slate-900 dark:text-white mt-2">We are MushroomAtlas. <span class="text-green-500 dark:text-green-500 animate-pulse">We love mushrooms. </span>And You?</h2>
                <p class="max-w-md text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">We provide largest mushroom database on the internet.</p>
                <p class="max-w-md text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">happy mushroomhunting!</p>
            </article>

        </section>
{% endblock %}