{% extends 'base.html' %}

{% load form_tags %}

{% load tailwind_filters %}

{% block content %}
<section class="container">
    <form method="get" class=" m-6 flex-row md:block sm:block lg:flex">
        <div class="block mr-2">
            <label for="id_edibility" class="block">Jedlost:</label>
            {{ form.edibility|add_class:"form-control" }}
        </div>
        <div class="flex-col mr-2 ">
            <label for="id_habitat" class="block">Biotop:</label>
            {{ form.habitat|add_class:"form-control" }}
        </div>

        <div class="text-left mr-2">
            <label for="id_family" class="block">Řád:</label>
            {{ form.family|add_class:"form-control" }}
        </div>
        <button type="submit" class=" text-white mt-2 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br
         focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg
          dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2">Filtrovat</button>
    </form>

    <section class="grid grid-cols-1 m-6 gap-6 md:grid-cols-2 mt-4 lg:grid-cols-3">
        {% for mushroom in mushrooms %}
            <div class="flex flex-col items-center bg-emerald-900 p-4 rounded-md border-green-900 hover:bg-emerald-800 hover:dark:shadow-xl hover:dark:shadow-emerald-800/80">
            <h5 class="text-xl mb-3">{{ mushroom.name_cz }} <br> ({{ mushroom.name_latin }})</h5>
                <div>
                {% if mushroom.image %}
                <img src="{{ mushroom.image.url }}" alt="{{ mushroom.name_cz }}" class="rounded-xl">
                {% endif %}
                </div>
            <hr>
            <div class="mt-4 ">
                <a href="{% url 'mushroom_detail' mushroom.id %}">



                        <p class="mt-4">{{ mushroom.description|truncatewords:20 }}</p>
                        <p class="mt-4"><strong> Jedlost:</strong>
                        {% if mushroom.get_edibility_display == 'Jedovatá' %}
                            <span class="text-red-500 text-lg"> {{ mushroom.get_edibility_display }}</span>
                        {% elif mushroom.get_edibility_display == 'Nejedlá' %}
                            <span class="text-orange-400 text-lg"> {{ mushroom.get_edibility_display }}</span>
                        {% else %}
                            <span class="text-lg text-lime-500"> {{ mushroom.get_edibility_display }}</span>
                        {% endif %}
                    </p>

            </a>
            </div>
            </div>


        {% endfor %}

    </section>
</section>
{% endblock %}
