{% extends 'base.html' %}

{% block content %}
<h2><strong>{{ mushroom.name_cz }}</strong></h2>
<p><strong> Popis:</strong>  {{ mushroom.description }}</p>
<p><strong> Jedlost:</strong>  {{ mushroom.get_edibility_display }}</p>
<p><strong> Místo výskytu:</strong>  {{ mushroom.get_habitat_display }}</p>
    {% if mushroom.image %}
<p><strong> Obrázek:</strong>  <img src="{{ mushroom.image.url }}" alt="{{ mushroom.name_cz }}"></p>
    {% endif %}
<p><strong> Řád:</strong>  <a href="{% url 'family_detail' mushroom.family.id %}">{{ mushroom.family.name }}</a></p>
<p><strong>Recepty:</strong> <a href="{{recipes_list }}" alt="{{recipe.title }}"></p>
{% endblock %}