{% extends 'base.html' %}

{% load form_tags %}

{% load tailwind_filters %}

{% block content %}
<section class="container">
    <form method="get" class="flex-row md:flex sm:block">
        <div class="block mr-2">
            <label for="id_edibility" class="block">Jedlost:</label>
            {{ form.edibility|add_class:"form-control" }}
        </div>
        <div class="flex-col mr-2 ">
            <label for="id_habitat" class="block">Biotop:</label>
            {{ form.habitat|add_class:"form-control" }}
        </div>
        <div class="text-left mr-2">
            <label for="id_family" class="block">Řád:</label>
            {{ form.family|add_class:"form-control" }}
        </div>
        <button type="submit" class="block">Filtrovat</button>
    </form>

    <section class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4 lg:grid-cols-3">
        {% for mushroom in mushrooms %}
        <div class="bg-emerald-900 p-4 rounded-md border-green-900 hover:bg-emerald-800">
            <div class="">
                {% if mushroom.image %}
                <img src="{{ mushroom.image.url }}" class="" alt="{{ mushroom.name_cz }}">
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'mushroom_detail' mushroom.id %}">
                    <h5 class="card-title">{{ mushroom.name_cz }} ({{ mushroom.name_latin }})</h5>
                    <p class="card-text">{{ mushroom.description|truncatewords:20 }}</p>
                    <p class="card-text"><strong>Jedlost:</strong> {{ mushroom.get_edibility_display }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</section>
{% endblock %}
