{% extends 'base.html' %}

{% block content %}

<style>
    .recipe-images {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .recipe-image {
        max-width: 300px;
        height: auto;
        margin-bottom: 10px;
    }
</style>

<h2><strong>{{ recipe.title }}</strong></h2>
<p><strong>Ingredience: </strong> {{ recipe.ingredients }}</p>
<p><strong>Instrukce: </strong> {{ recipe.instructions }}</p>
{% if recipe.image %}
    <div class="recipe-images">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image">
        {% for additional_image in recipe.additional_images.all %}
            <img src="{{ additional_image.url }}" alt="{{ recipe.title }}" class="recipe-image">
        {% endfor %}
    </div>
    <p><span style="font-size: small; font-style: italic;">Zdroj obrázků: </span> {{ recipe.source }}</p>
{% endif %}
<p><strong>Hlavní houba: </strong> <a href="{% url 'mushroom_detail' pk=recipe.main_mushroom.pk %}">{{ recipe.main_mushroom.name_cz }}</a></p>
<p><strong>Přidal uživatel: </strong> <a href="{% url 'account_detail' pk=recipe.user.pk %}">{{ recipe.user.user.username }}</a></p>

<!-- Zobrazit aktuální hodnocení -->
<p><strong>Celkové hodnocení: </strong> {{ recipe.rating }} <span style="font-size: small;">({{ recipe.num_ratings }} hodnocení)</span></p>

    <!-- Formulář pro přidání hodnocení -->
{% if user.is_authenticated %}
    {% if not has_rated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Odeslat hodnocení</button>
        </form>
    {% else %}
        <p>Již jste tento recept ohodnotili.</p>
    {% endif %}
{% else %}
    <p>Pro přidání hodnocení se musíte <a href="{% url 'login' %}">přihlásit</a>.</p>
{% endif %}

<a href="{% url 'recipes_list' %}" class="btn btn-secondary">Zpět na seznam receptů</a>

{% endblock %}
