{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
<section>
    {% if user.is_authenticated %}

    <form method="get" class="m-6 flex-row md:block sm:block lg:flex">
        <div class="block mr-2">
            <label for="id_main_mushroom" class="block">Hlavní houba:</label>
            {{ form.main_mushroom|add_class:"form-control" }}
        </div>
        <div class="flex-col mr-2">
            <label for="id_min_rating" class="block">Minimální hodnocení:</label>
            {{ form.min_rating|add_class:"form-control" }}
        </div>
        <div class="text-left mr-2">
            <label for="id_user" class="block">Přidal uživatel:</label>
            {{ form.user|add_class:"form-control" }}
        </div>

        <button type="submit" class=" text-white mt-2 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br
         focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg
          dark:shadow-green-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2">Filtrovat</button>
    </form>
    {% endif %}

    <article class="grid grid-cols-1 m-6 gap-6 md:grid-cols-2 mt-4 lg:grid-cols-3">
        {% for recipe in recipes %}
        <section class="flex flex-col items-center justify-center p-4 rounded-lg bg-emerald-900 hover:bg-emerald-800">
            <a href="{% url 'recipe_detail' recipe.id %}" class="flex flex-col items-center justify-center">
                {% if recipe.image %}
                    <div class="">
                        <img src="{{ recipe.image.url }}" class="object-cover h-64 w-64 rounded-xl" alt="{{ recipe.title }}">
                    </div>
                {% endif %}

                <h5 class="text-xl font-bold">{{ recipe.title }}</h5>
                <p>Přidal: {{ recipe.user.user.username }}</p>
            </a>
        </section>
        {% endfor %}
    </article>

    <div class="py-4 my-2 mx-16 bg-transparent flex flex-col items-center ">
            <a href="{% url 'add_recipe' %}" class="text-white mt-2 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br
             focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg
             dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2">Přidej recept</a>
    </div>
</section>
{% endblock %}




