{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
<div class="container mt-4">
    <form method="get" class="form-inline mb-4">
        <div class="form-group mr-2">
            <!-- Vaše filtrovací pole -->
        </div>
        <div class="form-group mr-2">
            <!-- Další filtrovací pole -->
        </div>
        <button type="submit" class="btn btn-primary">Filtrovat</button>
    </form>

    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if recipe.image %}
                <img src="{{ recipe.image.url }}" class="card-img-top img-fluid img-fixed" alt="{{ recipe.title }}">
                {% else %}
                <img src="{% static 'path/to/default/image.jpg' %}" class="card-img-top img-fluid img-fixed" alt="{{ recipe.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">Přidal: {{ recipe.user.username }}</p>
                    <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">Více informací</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}




