{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
<section class="container">
    <form method="get" class="form-inline mb-4">
        <div class="form-group mr-2">
            <!-- Vaše filtrovací pole -->
        </div>
        <div class="form-group mr-2">
            <!-- Další filtrovací pole -->
        </div>
        <button type="submit" class="">Filtrovat</button>
    </form>
    {% if user.is_authenticated %}
        <a href="{% url 'add_recipe' %}">Přidej recept</a>
    {% endif %}
    <article class="grid grid-cols-1 mx-6 md:grid-cols-2 gap-6 mt-4 lg:grid-cols-3 items-start justify-start min-w-xl">
        {% for recipe in recipes %}
        <section class="flex flex-col items-center justify-center p-4 rounded-lg bg-emerald-900 hover:bg-emerald-800">
            <a href="{% url 'recipe_detail' recipe.id %}" class="flex flex-col items-center justify-center">
                {% if recipe.image %}
                <img src="{{ recipe.image.url }}" class="rounded-lg max-w-full" alt="{{ recipe.title }}">
                {% endif %}

                <h5 class="text-xl font-bold">{{ recipe.title }}</h5>
                <p>Přidal: {{ recipe.user.user.username }}</p>


            </a>
        </section>
        {% endfor %}
    </article>
</section>

{% endblock %}




