{% extends 'base.html' %}

{% block content %}
<section class="flex flex-col items-center justify-center p-12 md:bg-emerald-950 max-h-3xl shadow-4xl rounded-lg">
    <article class="p-4 my-2 bg-emerald-900 rounded-lg flex flex-col items-center border-2 border-emerald-700">
        <h1 class="text-xl mb-4">{{ tip.title }}</h1>
        <p>{{ tip.content }}</p>
    </article>
    <article class="p-4 my-2 bg-emerald-900 rounded-lg flex flex-col items-center border-2 border-emerald-700">
    {% if tip.image %}
    <p><img src="{{ tip.image.url }}" class="rounded-lg" alt="tip image"></p>
    {% endif %}
    <p class="underline text-xl"><a href="{% url 'tip_list' %}">Zpět na seznam tipů</a></p>
    </article>
</section>

{% endblock %}