{% extends 'base.html' %}

{% block content %}
<h2><strong>{{ account.user.username }}</strong></h2>
    {% if account.profile_picture %}
<p><img src="{{ account.profile_picture.url }}" alt="{{ account.user.username }}"
        class="img-fluid" style="max-width: 300px; max-height: 300px;"></p>
    {% endif %}
<p><strong>{{ account.user.first_name }} {{ account.user.last_name }}</strong></p>
    <p>{{ account.biography }}</p>

<h3>Sent Messages</h3>
<ul>
    {% for message in sent_messages %}
        <li>
            <strong>To:</strong> {{ message.receiver.username }}<br>
            <strong>Sent at:</strong> {{ message.timestamp }}<br>
            <p>{{ message.content }}</p>
            <a href="{% url 'send_message' receiver_username=message.receiver.username replied_to_id=message.id %}">Reply</a>
        </li>
    {% empty %}
        <li>No messages sent.</li>
    {% endfor %}
</ul>
{% endblock %}