{% extends "form.html" %}
{% block form_title %}
    <h3>Aktualizovat profil</h3>
{% endblock %}

{% block content %}
    <section class="container p-4 bg-emerald-950 rounded-lg drop-shadow-xl">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>{{ form.as_table }}
            </table>
            <input id="id_submit" type="submit" value="Aktualizovat" class="text-white mt-2 bg-gradient-to-r from-green-400
                via-green-500 to-green-600 hover:bg-gradient-to-br
                focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50
                dark:shadow-lg
                dark:shadow-green-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2">
        </form>
    </section>
{% endblock %}
