{% extends "form.html" %}
{% block form_title %}
    <h3>Aktualizovat profil</h3>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>{{ form.as_table }}
            <tr>
                <th>Uživatelské jméno</th>
                <td>
                    <input type="text" name="username" value="{{ user.username }}" readonly>
                </td>
            </tr>
        </table>
        <input id="id_submit" type="submit" value="Aktualizovat">
    </form>
{% endblock %}
