{% extends 'base.html' %}

{% block content %}
<section class="p-12 md:bg-emerald-950 max-h-3xl shadow-4xl rounded-lg">
        <div class="flex flex-row justify-between items-start pt-4 pb-6 px-6 mb-6 bg-emerald-900 rounded-2xl border-emerald-700 border-1 ">
            <a href="{% url 'send_message' %}" class="text-white mt-2 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br
         focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg
          dark:shadow-green-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2">Nová zpráva</a>
            <a href="{% url 'view_inbox' %}" class="text-white mt-2 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br
         focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg
          dark:shadow-green-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2">
                Přijaté zprávy ({{ received_count }}/{{ unread_count }})
            </a>
            <a href="{% url 'view_outbox' %}" class="text-white mt-2 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br
         focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg
          dark:shadow-green-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2">
                Odeslané zprávy ({{ sent_messages_count }})
            </a>
            <a href="{% url 'view_trash' %}" class="text-white mt-2 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br
         focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg
          dark:shadow-green-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2">
                Koš ({{ trashed_messages_count }})
            </a>
        </div>

    <div class="p-4 my-2 bg-emerald-900 rounded-lg flex flex-col items-center ">
        {% block messages_content %}
        {% endblock %}
    </div>
</section>
{% endblock %}
