{% extends 'messaging/messages_base.html' %}

{% block messages_content %}
<p><strong style="font-size: 1.5em;">Předmět:</strong> <span style="font-size: 1.5em;">{{ message.subject }}</span></p>
<p><strong>Od:</strong> {{ message.sender.username }}</p>
<p><strong>Datum:</strong> {{ message.timestamp }}</p>
<p>{{ message.content }}</p>

{% if message.attachments.exists %}
    <p><strong style="font-size: 1.5em;">Přílohy</strong></p>
    <ul>
        {% for attachment in message.attachments.all %}
            <li><strong>Příloha:</strong> <a href="{{ attachment.file.url }}">{{ attachment.file.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<div class="btn-group">
    {% if user_id %}
        <a href="{% url 'account_detail' user_id %}" class="btn btn-secondary">Zpět do detailu uživatele</a>
    {% elif origin == 'inbox' %}
        <a href="{% url 'view_inbox' %}" class="btn btn-secondary">Zpět do přijatých zpráv</a>
    {% elif origin == 'outbox' %}
        <a href="{% url 'view_outbox' %}" class="btn btn-secondary">Zpět do odeslaných zpráv</a>
    {% elif origin == 'trash' %}
        <a href="{% url 'view_trash' %}" class="btn btn-secondary">Zpět do koše</a>
    {% endif %}
    <a href="{% url 'forward_message' message.id %}" class="btn btn-secondary">Přeposlat</a>
    {% if message.is_trashed_by_sender or message.is_trashed_by_receiver %}
        <a href="{% url 'restore_message' message.pk %}" class="btn btn-primary">Obnovit</a>
    {% endif %}
    <form id="delete-message-form" method="post" action="{% if origin == 'trash' %}{% url 'delete_message' message.id %}{% else %}{% url 'trash_message' message.id %}{% endif %}" style="display:inline;">
        {% csrf_token %}
        <button type="button" class="btn btn-danger" onclick="trashOrDeleteMessage('{{ message.id }}', '{{ origin }}')">Smazat</button>
        <input type="hidden" name="origin" value="{{ origin }}">
    </form>
</div>

<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

function trashOrDeleteMessage(messageId, origin) {
    console.log(`trashOrDeleteMessage called with messageId: ${messageId}, origin: ${origin}`);
    const url = `/delete_message/${messageId}/`;
    console.log(`Fetching URL: ${url}`);

    fetch(url, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
        }
    }).then(response => {
        if (response.ok) {
            console.log('Response OK, returning JSON');
            return response.json();
        }
        throw new Error('Network response was not ok.');
    }).then(data => {
        if (data.success) {
            console.log('Operation successful, redirecting to:', data.redirect_url);
            window.location.href = data.redirect_url;
        } else {
            console.error('Error:', data.error);
            alert('Nastala chyba při mazání zprávy: ' + data.error);
        }
    }).catch(error => {
        console.error('There was a problem with the fetch operation:', error);
        alert('Nastala chyba při mazání zprávy. Zkuste to prosím znovu.');
    });
}

// Označení zprávy jako přečtené
window.onload = function() {
    console.log('Page loaded, marking message as read');
    fetch(`/mark_message_read/{{ message.id }}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
        }
    }).then(response => response.json())
    .then(data => {
        if (data.success) {
            // Aktualizace počtu nepřečtených zpráv
            document.getElementById('new_messages_count').textContent = data.new_messages_count;
        } else {
            console.error('Error:', data.error);
        }
    }).catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });
};
</script>


{% endblock %}
