{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{% url 'send_message' %}" class="list-group-item list-group-item-action">Nová zpráva</a>
            <a href="{% url 'view_inbox' %}" class="list-group-item list-group-item-action">
                Přijaté zprávy ({{ received_count }}/{{ unread_count }})
            </a>
            <a href="{% url 'view_outbox' %}" class="list-group-item list-group-item-action">
                Odeslané zprávy ({{ sent_count }})
            </a>
            <a href="{% url 'view_trash' %}" class="list-group-item list-group-item-action">
                Koš ({{ trashed_count }})
            </a>
        </div>
        <div>
            <p>Debug: Přijaté zprávy - {{ received_count }}</p>
            <p>Debug: Nepřečtené zprávy - {{ unread_count }}</p>
            <p>Debug: Odeslané zprávy - {{ sent_count }}</p>
            <p>Debug: Koš - {{ trashed_count }}</p>
        </div>
    </div>
    <div class="col-md-9">
        {% block messages_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
