{% extends 'messaging/messages_base.html' %}

{% block messages_content %}
<form method="post" action="{% url 'bulk_trash_messages' %}">
    {% csrf_token %}
    <div>
        <button type="submit" class="btn btn-danger">Přesunout do koše</button>
    </div>
    <ul>
        {% for message in sent_messages %}
            <li>
                <input type="checkbox" name="message_ids" value="{{ message.id }}">
                <a href="{% url 'message_detail' message.id %}">
                    <strong>{{ message.timestamp }} - Komu: {{ message.receiver.username }} - Předmět: {{ message.subject }}</strong>
                </a>
                <p>{{ message.content|truncatewords:10 }}</p>
            </li>
        {% empty %}
            <li>Nebyly odeslány žádné zprávy.</li>
        {% endfor %}
    </ul>
</form>
{% endblock %}
