{% extends 'base.html' %}
{% block content %}
<h1>Odeslané zprávy</h1>
<form method="get" action="">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Filtrovat</button>
    <a href="{% url 'view_outbox' %}" class="btn btn-secondary">Zrušit filtr</a>
    <a href="{% url 'view_trash' %}" class="btn btn-warning">Koš</a>
</form>
<ul>
    {% for message in sent_messages %}
        <li>
            <strong>Komu:</strong> {{ message.receiver.username }}<br>
            <strong>Datum odeslání:</strong> {{ message.timestamp }}<br>
            <strong>Předmět:</strong> {{ message.subject }}<br>
            <p>{{ message.content }}</p>
            <ul>
                {% for attachment in message.attachments.all %}
                    <li><strong>Příloha:</strong> <a href="{{ attachment.file.url }}">{{ attachment.file.name }}</a></li>
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'delete_message' message.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Smazat</button>
            </form>
        </li>
    {% empty %}
        <li>Nebyly odeslány žádné zprávy.</li>
    {% endfor %}
</ul>
{% endblock %}
