{% extends 'messaging/messages_base.html' %}

{% block messages_content %}
<form method="get" action="">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Filtrovat</button>
    <a href="{% url 'view_outbox' %}" class="btn btn-secondary">Zrušit filtr</a>
</form>
<ul>
    {% for message in sent_messages %}
        <li>
            <a href="{% url 'message_detail' message.id %}">
                <strong>{{ message.timestamp }} - Komu: {{ message.receiver.username }} - Předmět: {{ message.subject }}</strong>
            </a>
            <p>{{ message.content|truncatewords:10 }}</p>
            <a href="{% url 'trash_message' message.id %}" class="btn btn-warning">Přesunout do koše</a>
        </li>
    {% empty %}
        <li>Nebyly odeslány žádné zprávy.</li>
    {% endfor %}
</ul>
{% endblock %}
