{% extends 'base.html' %}

{% block content %}
<h1>Poslat zprávu</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="attachments">
        {{ attachment_formset.management_form }}
        {% for form in attachment_formset %}
            <div class="attachment-form" data-form-index="{{ forloop.counter0 }}">
                {{ form.as_p }}
                <button type="button" class="remove-attachment">Odebrat</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-attachment">Přidat přílohu</button>
    <button type="submit">Odeslat</button>
</form>

<template id="attachment-template">
    <div class="attachment-form">
        {{ attachment_formset.empty_form.as_p }}
        <button type="button" class="remove-attachment">Odebrat</button>
    </div>
</template>

<script>
    document.getElementById('add-attachment').addEventListener('click', function() {
        var attachmentTemplate = document.getElementById('attachment-template').content.cloneNode(true);
        var formIndex = document.querySelectorAll('.attachment-form').length;
        var newForm = attachmentTemplate.querySelector('.attachment-form');
        newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, formIndex);
        document.getElementById('attachments').appendChild(newForm);
        addRemoveEvent(newForm.querySelector('.remove-attachment'));
        updateFormIndexes();
        document.getElementById('id_attachments-TOTAL_FORMS').value = formIndex + 1;  // Aktualizace TOTAL_FORMS
    });

    document.querySelectorAll('.remove-attachment').forEach(function(button) {
        addRemoveEvent(button);
    });

    function addRemoveEvent(button) {
        button.addEventListener('click', function() {
            var form = button.closest('.attachment-form');
            form.remove();
            updateFormIndexes();
            var formIndex = document.querySelectorAll('.attachment-form').length;
            document.getElementById('id_attachments-TOTAL_FORMS').value = formIndex;  // Aktualizace TOTAL_FORMS
        });
    }

    function updateFormIndexes() {
        var forms = document.querySelectorAll('.attachment-form');
        forms.forEach(function(form, index) {
            form.setAttribute('data-form-index', index);
            var inputs = form.querySelectorAll('input, select, textarea');
            inputs.forEach(function(input) {
                var nameRegex = /-\d+-/;
                var idRegex = /_\d+_/;
                input.name = input.name.replace(nameRegex, '-' + index + '-');
                input.id = input.id.replace(idRegex, '_' + index + '_');
            });
        });
    }

    console.log("Formuláře příloh:", document.querySelectorAll('.attachment-form').length);  // Debugging
</script>
{% endblock %}
