{% extends 'messaging/messages_base.html' %}

{% block messages_content %}
<form method="get" action="">
    {{ form_sender.as_p }}
    <button type="submit" class="btn btn-primary">Filtrovat</button>
    <a href="{% url 'view_trash' %}" class="btn btn-secondary">Zrušit filtr</a>
</form>
<ul>
    {% for message in trashed_messages %}
        <li>
            <a href="{% url 'message_detail' message.id %}">
                <strong>{{ message.timestamp }} - Od: {{ message.sender.username }} - Předmět: {{ message.subject }}</strong>
            </a>
            <p>{{ message.content|truncatewords:10 }}</p>
            <button onclick="deleteMessage('{{ message.id }}')" class="btn btn-danger">Smazat</button>
        </li>
    {% empty %}
        <li>Žádné zprávy v koši.</li>
    {% endfor %}
</ul>
<script>
function deleteMessage(messageId) {
    fetch(`/delete_message/${messageId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        }
    }).then(response => {
        if (response.ok) {
            return response.json();
        }
        throw new Error('Network response was not ok.');
    }).then(data => {
        if (data.success) {
            location.reload();
        } else {
            console.error('Error:', data.error);
        }
    }).catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });
}
</script>
{% endblock %}
