{% extends 'messaging/messages_base.html' %}

{% block messages_content %}
<form method="get" action="">
    {{ form_sender.as_p }}
    <button type="submit" class="btn btn-primary">Filtrovat</button>
    <a href="{% url 'view_trash' %}" class="btn btn-secondary">Zrušit filtr</a>
</form>
<form method="post" action="{% url 'bulk_delete_trash_messages' %}">
    {% csrf_token %}
    <ul>
        {% for message in trashed_messages %}
            <li>
                <input type="checkbox" name="message_ids" value="{{ message.id }}">
                <a href="{% url 'message_detail' message.id %}">
                    <strong>{{ message.timestamp }} - Od: {{ message.sender.username }} - Předmět: {{ message.subject }}</strong>
                </a>
                <p>{{ message.content|truncatewords:10 }}</p>
            </li>
        {% empty %}
            <li>Žádné zprávy v koši.</li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-danger">Smazat vybrané</button>
</form>
{% endblock %}
