{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>AtlasHub</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="min-h-screen bg-slate-50 dark:bg-black bg-gradient-to-r from-emerald-950 to-dark-blue-500 dark:text-white">
            <header class="bg-teal-700 text-white sticky top-0 z-10">
        <section class="max-w-4xl mx-auto p-4 flex justify-between items-center">
            <h1 class="text-3xl font-medium">
                <a href="{%  url 'home' %}">🍄MushroomAtlas</a>
            </h1>
            <div><button id="mobile-open-button" class="text-3xl sm:hidden focus:outline-none">
                &#9776;
                </button>
                <nav class="hidden sm:block space-x-8 text-xl" aria-label="main">
                    <a href="{%  url 'mushroom_list' %}" class="hover:opacity-90">Atlas Hub</a>
                    <a href="{%  url 'family_list' %}" class="hover:opacity-90">Families</a>
                    <a href="{%  url 'recipes_list' %}" class="hover:opacity-90">Recipes</a>
                    <a href="{%  url 'tip_list' %}" class="hover:opacity-90">Tips</a>
                    <a href="{%  url 'findings_map' %}" class="hover:opacity-90">Findings</a>
                    {% if user.is_authenticated %}
                        <a href="{%  url 'add_mushroom' %}" class="hover:opacity-90">Add Mushroom</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="{%  url 'accounts_list' %}" class="hover:opacity-90">Users</a>
                    {% endif %}
                </nav>
            </div>
        </section>

    </header>
    <main class=" max-w-4xl mx-auto">
        {% block content %}
        {% endblock %}
    </main>
    </body>
</html>
