{% extends "base.html" %}
{% block content %}

    <div class="container p-4 bg-emerald-950 rounded-lg drop-shadow-xl">
    {% block form_title %}{% endblock %}
    <form method="POST">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input id="id_submit" type="submit" value="Potvrdit" class="text-white mt-2 bg-gradient-to-r from-green-400
                via-green-500 to-green-600 hover:bg-gradient-to-br
                focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50
                dark:shadow-lg
                dark:shadow-green-800/80 font-medium rounded-lg text-sm px-3 py-2 text-center me-2">
    </form>

    </div>

{% endblock %}